/* 
 * Set up colour variables
 */
@white:		#FFF;
@black:		#000;
@blue:		#33869F;
@lightGrey:	#CCC;
@grey:		#666;
@darkGrey:	#333;
@green:		#83C500;
@midGreen:	#70AE00;
@red: 		#E31B23;
@paleRed:	#F18D9A;

.white 		{color: @white}
.black		{color: @black}
.blue		{color: @blue}
.lightGrey	{color: @lightGrey}
.grey		{color: @grey}
.darkGrey	{color: @darkGrey}
.green		{color: @green}
.midGreen 	{color: @midGreen}
.red 		{color: @red}
.paleRed 	{color: @paleRed}
