/*
 * GLobal LESS Stylesheet - Leprosy Eliminated
 */
@import 'boilerplate';
@import 'functions';
@import 'mixins/trajanpro';

body {
	background: url('../images/bg.png');
	margin-top: 10px;
}
h1 {
	
}
h2 {
	
}
a {
	
	&:hover {
		
	}	
}


#main {
	background: url('../images/book.png') no-repeat top left;
	.centre;
	width: 960px;
	height: 680px;
	padding-top: 20px;
	
	.titleImg {
		width: 875px;
		.centre;
	}
}
